In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
air1 = pd.read_csv("./baron/20150807_preprocessed/AIRGAP1 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
air2 = pd.read_csv("./baron/20150807_preprocessed/AIRGAP2 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
air3 = pd.read_csv("./baron/20150807_preprocessed/AIRGAP3 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
air4 = pd.read_csv("./baron/20150807_preprocessed/AIRGAP4 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth1 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH1 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth2 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH2 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth3 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH3 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth4 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH4 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth5 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH5 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth6 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH6 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_depth7 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DEPTH7 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir1 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION1 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir2 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION2 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir3 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION3 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir4 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION4 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir5 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION5 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir6 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION6 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_dir7 = pd.read_csv("./baron/20150807_preprocessed/CURRENT_DIRECTION7 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed1 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED1 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed2 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED2 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed3 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED3 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed4 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED4 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed5 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED5 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed6 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED6 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)
cur_speed7 = pd.read_csv("./baron/20150807_preprocessed//CURRENT_SPEED7 PreProcessed result(2015-08-07~2015-08-07).txt", header = None)

In [25]:
new_data = pd.concat([air1,air2,air3,air4], axis=1)
new_data.columns = ["a1","a2","a3","a4"]

In [31]:
new_data

          a1     a2     a3     a4
0      83.94  85.58  83.12  82.43
1      84.05  84.95  82.70  82.67
2      83.66  84.78  83.98  83.02
3      83.77  85.25  83.67  82.75
4      84.06  84.96  82.58  82.34
...      ...    ...    ...    ...
86395  82.49  85.04  82.73  81.08
86396  82.49  85.13  82.57  81.40
86397  82.43  85.48  82.35  80.00
86398  82.45  85.98  82.71  81.18
86399  82.45  85.72  82.71  81.18

[86400 rows x 4 columns]